.App {
  text-align: center;
  margin: 2% 0%;
}

.inputs{
  border:1px solid;
  border-radius: 5px;
  width: 130px;
}

.table.table th{
  width: 10px !important;
}
.main-flex{
  display: flex;
  height:76px
}
.field-inputs{
  width:150px;
}
.field-names{
  width:100px;
}
.input-range{
  width: 90% !important;
}