.App {
  text-align: center;
  margin: 2% 0%;
  display: flex;
}

.inputs{
  border:1px solid;
  border-radius: 5px;
  width: 130px;
}

.table.table th{
  width: 10px !important;
}
.main-flex{
  display: flex;
  height:80px;
  padding-top:3%
}
.field-inputs{
  width:150px;
}
.field-names{
  width:100px;
  font-weight: bold;
  text-transform: capitalize;
}
.input-range{
  width: 80% !important;
  margin-left: 7%;
  margin-top: 10%;
}
.table-1{
  width:25%;
}
.table-2{
  width: 75%;
}

.App .div-2{
  overflow: scroll;
}
tr{
  height: 80px !important;
}
.table td, .table th{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
::-webkit-scrollbar { 
  display: none; 
}
.hide{
  display: none;
}